.card-review {
  width: 90%;
  /* background-color: white; */
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}
.card-category {
  height: 150px;
  width: 364px;
  background: #FBF8F3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 2vh;
  border: 1px solid #56BBB1;
}

.underline {
   border-bottom: 1px solid #56BBB1;
   display: inline;
}

.card-category-elements {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 20px;
  border-radius: 6px;
  height: 110px;
  width: 334px;
}

.card-category img {
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.card-category h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-category p {
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  display: flex;
  align-items: center;
  color: #757575;
  margin-top: 8px;
}

.card-category .card-category-infos {
  padding: 16px;
  margin-top: 8px;
}

.card-subcategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 150px;
  // position: absolute;
  // left: 14px;
  // top: 190px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-opacity: 70%;
  background-image: url("https://s3-alpha-sig.figma.com/img/b422/5173/89a8e072b1aeac8d2019e3c54cbd00b2?Expires=1607299200&Signature=Y8eQFw38UnePcpRVDVDHTPxs83jxD~eeEMkwfAz69Jr9Mb2Erl4OdR1U2bxlZdQjeFxB6dPWGfO1hV2NvF-I8phLaWOFK5QVv~dVp2jiBXFZkjfTFqzFa1nLpvIrGjtG9~Sk14Adj1wgeMc8SmaLWhFebZsoP1JfQRNkDpkN3ODrTYpi9zmcYKMh-V~qzXl4Qfrqm0vgiHzKoJ3k7tD5Sj5rqNeitMBE5oSBS0~LG9pPR6BchbgcqlTLwLP4HK4cAzvKJVG8f8~ETHY~Do4Um6TH2~U0gMEGfGomm2px-cOoM6~FJ-XC6E~Upp0i~eO5z~4g6FAK3D2CuBvvTg8muA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}

.card-cover-subcategory {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border-radius: 15px;
  background-opacity: 70%;
  width: 90%;
  // left: 11px;
  // top: 127px;
  // position: absolute;
  background-image: url("https://s3-alpha-sig.figma.com/img/b422/5173/89a8e072b1aeac8d2019e3c54cbd00b2?Expires=1607299200&Signature=Y8eQFw38UnePcpRVDVDHTPxs83jxD~eeEMkwfAz69Jr9Mb2Erl4OdR1U2bxlZdQjeFxB6dPWGfO1hV2NvF-I8phLaWOFK5QVv~dVp2jiBXFZkjfTFqzFa1nLpvIrGjtG9~Sk14Adj1wgeMc8SmaLWhFebZsoP1JfQRNkDpkN3ODrTYpi9zmcYKMh-V~qzXl4Qfrqm0vgiHzKoJ3k7tD5Sj5rqNeitMBE5oSBS0~LG9pPR6BchbgcqlTLwLP4HK4cAzvKJVG8f8~ETHY~Do4Um6TH2~U0gMEGfGomm2px-cOoM6~FJ-XC6E~Upp0i~eO5z~4g6FAK3D2CuBvvTg8muA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;

}


.card-show-overview {
  overflow: hidden;
  height: 114px;
  width: 364px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid #56BBB1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 2vh;
}

.card-show-overview img {
  height: 90%;
  width: 30%;
  margin-left: 5px;
  object-fit: cover;
  border: 1px solid #56BBB1;
  border-radius: 10px;
}

.card-show-overview h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-show-overview p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-show-overview .card-show-overview-infos {
  padding: 16px;
  margin-top: 8px;

}

.card-profile {
  // border: 3px solid black;
// position: absolute;
// width: 389px;
// height: 592.09px;
// left: 15px;
// top: 132px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vw;

}

.card-profile p {
  font-weight: lighter;
  font-size: 18px;
  padding-top: 17px;
}

.card-profile h1 {
  font-size: 26px;
}

.card-review {

}
.card-review-overview {
  overflow: hidden;
  height: 114px;
  width: 364px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 14px;
  border-radius: 10px;
}

.card-review-overview img {
  height: 70px;
  width: 70px;
  // padding-left: 5px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

.card-review-overview h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-review-overview p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-review-overview a {
  font-size: 8px;
  }

.card-review-overview .card-review-overview-infos {
  padding-top: 14px;
  padding-right: 10px
}

.card-review-left-user-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 47%;
  text-decoration: underline;
  color: black;
}

.br-widget {
  align-items: center;
  display: flex;
  justify-content: center;
}
