<div class="gradient-container" style="height: 100vh">
  <%= render 'shared/navbar' %>
    <% @categories.each do |category| %>
      <div class="card-category" style="background-size: cover; background-image: url(<%= asset_path category.asset_path %>)"><div class="btn-category-black"> <%= link_to category.title, category_path(category) %> </div></div>
    <% end %>
</div>

