

  <div class="image-container">
    <div class="category-page-container">
      <div class="header-category"> Fashion</div>
      <div class= "header-category-description">Explore the world of sustainable fashion. Write reviews and shop with a conscience</div>
      <div class="text-center">
        <div class="btn-explore"><%= link_to "Explore", category_sub_categories_path(@category) %></div>
      </div>
    </div>
    <div><p>placeholder for carousel</p></div>
  </div>






<!-- CODE BELOW IS FOR SUB-CATEGORIES PAGE -->
<!-- <div class="gradient-container">
  <h1>Categories Show</h1>
  <div class="card-cover-subcategory">
    <div  class="header-subcategory">
      <%= @category.title %>
    </div>
    <div class="header-subcategory-description">
      <div><p>one step closer to sustainable living. pick a store you like...</p></div>
      <div><%= link_to 'Explore', category_sub_categories_path(@category) %></div>
    </div>
  </div>

  <div class="card-show-overview">
    <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5a33f2b431358e749fd321af%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D0%26cropX2%3D416%26cropY1%3D0%26cropY2%3D416" alt="humana">
    <div class="card-show-overview-infos">
      <h2>Humana</h2>
      <p>This is a second hand shop for clothes and accessories (Men, women, children)</p>
      <p style="text-align: right">rating</p>
    </div>
  </div>

</div> -->

